.item > span:first-child {
    min-width: 150px;
    margin-right: 10px;
    display: inline-block;
}

.item {
    margin-bottom: 20px;
}

.detail {
    margin-left: 10px;
    margin-top: 30px;
}

.item img {
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 3px 10px #ccc;
}

.itemImg {
    display: flex;
    align-items: center;
}

.itemImg img {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
}