.formRegister label {
    min-width: 200px;
}

.formRegister {
    padding: 16px;
}

.formRegister button {
    margin-left: 250px;
}

:global(.ant-space-item) {
    position: relative;
}
.iconStyle {
    font-size: 25px;
}