.formFilter {
    padding: 20px;
}

.formItem label {
    min-width: 120px;
}

.formFilter button {
    height: 40px;
}

:global(.ant-form-item-control-input-content) {
    max-width: 250px !important;
}

.flexCenter {
    display: flex;
    flex-direction: column;
}

.fsLarge {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
}

.activeDay {
    background: #3498db !important;
    border: 1px solid #3498db !important;
    color: #fff !important;
}

.btnDay:hover {
    background: #3498db !important;
    border: 1px solid #3498db !important;
    color: #fff !important;
    transform: scale(1.2)
}