.mainApp {
    padding: 16px;
}

.selectUser label {
    margin-right: 10px;
    font-weight: bold;
}

.selectUser button {
    margin-left: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.menuItem {
    margin: 5px 15px;
}

.menuItem button {
    background: transparent ;
    border: 1px solid #3498db;
    color: #3498db !important;
    transition: 0.4s;
    font-weight: bold;
}

.menuItem button:hover, .menuItem.active button  {
    background: #3498db !important ;
    border: 1px solid #3498db !important;
    color: #fff !important;
    transform: scale(1.2);
}
